@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
.clr{
   color: #979dac;
   color: #7d8597;
   color: #5c677d;
   color: #33415c;
   color: #001233;
   color: #001845;
   color: #002855;
   color: #023e7d;
   color: #0353a4;
   /* color: #0466c8; */
   color: #8E9AAF;
   color: #CBC0D3;
   color: #EFD3D7;
   color: #b4ffff;
   color: #DEE2FF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}
header{
    height: 90px;
    /* width: 100vw; */
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(51, 51, 51); */
    background: linear-gradient(300deg, #001233 65%, #7d8597 35%);
    color: rgb(207, 207, 207);
}
header.lg-header{
    background: linear-gradient(300deg, #8E9AAF 65%, #cacaca 35%);
}
header .logo{
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #001233;
    height: 90px;
    text-align: center;
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
    transition: all .5s;
}
header > .lg-logo{
    background-color: #8E9AAF;
}
header .logo:hover{
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
}
header .logo a{
    padding: 5px;
    color: rgb(207, 207, 207);
    text-decoration: none;
    transform: rotateZ(-35deg);
    transition: all .5s;
}
header .logo a.lg-txt{
    color: rgb(41, 41, 41);
}
.lg-bold{
    font-weight: 900;
}
header .logo:hover a{
    transform: rotateZ(35deg);
}
header nav,
header nav ul{
    display: flex;
}
header nav ul.left{
    margin-right: 10px;
    margin-top: 5px;
}
header nav ul li{
    margin: 0 5px;
    list-style: none;
}
header nav ul li a{
    padding: 10px 10px;
    text-decoration: none;
    color: rgb(207, 207, 207);
    transition: all .3s;
    position: relative;
}
header nav ul li a.lg-txt{
    color: rgb(41, 41, 41);
}
header nav ul li a:hover{
    color: rgb(243, 243, 243);
    font-size: 16px;
}
header nav ul li a:after{
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 0px;
    background-color: rgb(241, 241, 241);
    transition: all 0.3s;
    margin-top: 4px;
    margin-left: 8px;
}
header nav ul li a:hover:after{
    height: 2.5px;
    width: 85%;
}
header nav ul button{
    margin-left: 10px;
    border: none;
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
    transition: all .3s;
}
header nav ul button a{
    display: block;
    padding: 8px 11px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
}
header nav ul button a:hover{
    color: #000;
}
header nav ul button:nth-child(1){
    background-color: rgb(254, 134, 21);    
}
header nav ul button:nth-child(2){
    background-color: rgb(112, 211, 0);
}
header nav ul button:hover{
    background-color: #fff;
}
.container{
    position: relative;
    min-height: 100vh;
    background-color: #aabcd6;
    /*clip-path: polygon(0 0, 100% 100%, 100% 0);*/
    transition: all 1s;
}
.lg-container{
    background-color: #e0dcbb;
}
.container .ltop{
    padding: 50px;
    display: flex;
    align-self: flex-start;
    justify-self: start;
    align-items: center;
    justify-content: space-between;
}
.container .ltop .logo a{
    padding: 8px 13px;
    background-color: #001233;
    color: #ffffff;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s;
}
.container .ltop .logo a:hover{
    border-radius: 0px;
}
.container .ltop li{
    list-style: none;
}
.container .ltop li a{
    padding: 10px 25px;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    background-color: #001233;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    transition: all 0.3s;
}
.container .ltop li a:hover{
    clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
}
.container .ltop .lg-ltop,
.container .ltop .logo .lg-ltop{
    background-color: #CBC0D3;
    color: #33415c;
}
.container .dform{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 30px;
    background-color: #001233;
    border-radius: 12px;
    box-shadow: 0px 5px 15px #001233;
}
.container div.lg-dform{
    background-color: #cacaca;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
}
h2{
    color: rgb(202, 202, 202);
    margin: 0 0 5px 5px;
}
.usr,
.pass{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}
.label{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 5px;
    color: rgb(170, 170, 170);
}
input{
    display: block;
    padding: 10px 15px;
    border: none;
    border-radius: 0px;
    width: 300px;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #7d8597;
}
input:focus{
    outline: 0;
    /* box-shadow: 5px 5px rgb(0, 0, 0); */
    background-color: transparent;
    transition: all 0.5s;
}
.container .dform input.lg-input{
    color: #001233;
}
.form-input:focus + p{
    border-bottom: 2px solid rgb(254, 134, 21);
}
.submit{
    padding: 7px 10px;
    border: none;
    border-radius: 50px;
    margin-left: 5px;
    margin-top: 15px;
    font-size: 15px;
    color: #fff;
    background-color: rgb(254, 134, 21);
    outline: 0;
    box-shadow: 5px 5px rgb(255, 255, 255);
    transition: all 0.5s;
}
.submit:hover{
    box-shadow: none;
}
.lg-submit{
    background-color: rgb(112, 211, 0);
    color: #fff;
}
.signup{
    color: rgb(199, 199, 199);
    margin-top: 25px;
    font-size: 15px;
}
.chh{
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}
.chh:hover{
    color: rgb(161, 161, 161);
}
.chh:hover ~ span{
    transition: all 0.5s;
    margin-left: 10px;
}
.lg-darktxt{
    color: rgb(41, 41, 41);
}
.container-h{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    height: calc(100vh - 90px);
    background-image: url("img/586-min.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    filter: hue-rotate(180deg);
}
.container-h h1,
.container-h p{
    /* background-color: #fff; */
    background-image: linear-gradient(to bottom right, rgb(0 255 251), rgb(126 255 0));
    transform: skew(355deg, 355deg);
    padding: 10px 20px;
}
button.toggle-color-h,
button.toggle-color-c{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #001233;
    border: none;
    top: 50%;
    right: 0;
    border-radius: 50px 0px 0px 50px;
}
button.toggle-color-h svg,
button.toggle-color-c svg{
    height: 25px;
    margin-top: 5px;
    color: rgb(224, 224, 224);
}
button.toggle-color-h:hover svg,
button.toggle-color-c:hover svg{
    transform: rotate(360deg);
    transition: all .5s;
}
/**/
.toggle-color-p{
    position: absolute;
    height: 40px;
    /* width: 40px; */
    padding: 5px;
    color: #fff;
    background-color: #001233;
    border: none;
    top: 44%;
    right: 0;
    border-radius: 50px 0px 0px 50px;
}
/* @media screen (max-width:500px) {
    color: #000;
} */